<ion-view title="Cart" id="page3">
  <ion-content padding="true" class="has-header">
    <ion-list>
      <ion-item ng-repeat="item in list">
          <image ng-src={{item.image}} />
          <h3><b>{{item.name}}</b></h3>
          <h3><b>Quantity:</b>
            <select ng-model="item.portion" ng-change="onChange(item)" >
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
          </h3>
          <button ng-click="onDelete(item)" >Delete</button>
      </ion-item>
    <div ng-if="list.length < 1?true:false">
      <button class="button button-clear button-block" style="background-color:red;color:white;"  ui-sref="deliveryMethod()" disabled >Check out</button>
    </div>
    <div ng-if="list.length > 0?true:false">
      <button class="button button-clear button-block" style="background-color:red;color:white;"  ui-sref="deliveryMethod()"  >Check out</button>
    </div>
    </ion-list>
  </ion-content>
</ion-view>
