<ion-view title="Order History" id="page9">
  <ion-content padding="true" class="has-header">

    <ion-list>
      <ion-item ng-repeat="item in orderHistory">
        <image ng-src={{item.image}} />
        <h3>
          <b>{{item.name}}</b>
        </h3>
        <h3>
          <b>Quantity:</b>
          <select ng-model="item.quantity" ng-change="onUpdate(item)">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </h3>
        <h3>
          <b>Status: </b>{{item.status}}</h3>
        <button class="button button-clear button-block" style="background-color:red;color:white;" ng-click="onDelete(item)">Delete</button>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
