<ion-view title="Profile" id="page4" hide-nav-bar="true">
  <ion-content>
    <button class="button-clear ion-navicon" menu-toggle="left" style="color:white; font-size:30px;"></button>
    <button class="button-clear ion-ios-gear-outline" style="color:white; font-size:25px; float:right; padding:1%; padding-right:2%;"></button>
    <div data-componentid="image1" data-tap-disabled="true" class="ic-selected">
      <img class="icon ion-image" ng-src="{{trustSrc(profileImage)}}" style="border-radius: 50%;"></img>
    </div>
    <div class="profilebackgrd" style="background:url(img/slide4.jpg) no-repeat center;     background-size:cover; "></div>
    <h2 class="profilelabel">{{profileName}}</h2>
    <input class="bio" style="font-size: 10px; color:dimgray" type="text" placeholder="edit your description">
    <!--
        <div class="buttongrid">
            <div id="profile-button-bar1" class="button-bar">
                <button class="buttonbar button-block" ui-sref="nurition()"><i class="ion-android-clipboard"></i><span>Nurition Assessment</span></button>
                <button class="buttonbar button-block" ui-sref="payment()"><i class="ion-card"></i><span>Payment</span></button>
                <button class="buttonbar button-block"><i class="ion-ios-paper-outline"></i><span>Ordered Recipe</span></button>
                <button class="buttonbar button-block"><i class="ion-ios-clock-outline"></i><span>Order History</span></button>

            </div>
        </div>
-->
  </ion-content>
</ion-view>
