<ion-view title="Recipe" id="page5">
  <ion-content padding="false" class="has-header"></ion-content>
    <h3 class="homelabel">Today's Recipe</h3>
     <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider1" delegate-handle="slider1" id="home-slider1" >
      <ion-slide-page class="slidepage" style="background:url(img/slide1.jpg) no-repeat center;     background-size:cover; "></ion-slide-page>
      <ion-slide-page class=" slidepage" style="background:url(img/slide2.jpg)no-repeat center;     background-size:cover; "></ion-slide-page>
      <ion-slide-page class="slidepage" style="background:url(img/slide3.jpg) no-repeat center;     background-size:cover; "></ion-slide-page>
    </ion-slides>
</ion-view>