<ion-view title=""  hide-nav-bar="false">
    <ion-content padding="false" class="has-header">

        <img ng-src="img/recipe/Whole wheat pasta alla norma.jpeg" class="cardimage" style="height:400px;">

        <h2  class="recipeName" style="text-align: center;">Whole wheat pasta alla norma</h2>

        <!-- LIKES AND SHARE BUTTON-->

        <div class="likesharebar">
            <div class="rdfav">
                <icon class=" ricon ion-ios-heart" ng-click="toggleFav(item)"></icon>
                <span class="rdNo" >15</span>
            </div>
            <div class="rdfav">
                <icon class=" ricon ion-ios-upload-outline"></icon>
                <span class="rdNo" >Share</span>
            </div>
        </div>

        <!-- CIRCLE LABEL-->

        <div class="infobar">
            <div style="margin-left:6%;" style="padding-bottom: 2%;">
                <div class="recipelabelCircle">
                    <div class="circleinfo">
                        <span class="innercircle" >Easy</span>
                    </div>
                    <span  class="clabel"> Difficulty</span></div>

                <div class="recipelabelCircle">
                    <div class="circleinfo">
                        <span class="innercircle">20 min</span>
                    </div>
                    <span  class="clabel">  Duration</span></div>

                <div class="recipelabelCircle">
                    <div class="circleinfo">
                        <span class="innercircle">1</span>
                    </div>
                    <span class="clabel"> Serving</span></div>
            </div>
        </div>

        <!-- NURITION -->
        <div class="assessment">
            <h4 class="recipeTitle">Nurition Per Serving</h4>
            <div class="recipegrid">
                <div class="nuritionBar">
                    <div class="nuritionInfo" style="border:none;">
                        <span class="nlabel">289 Kcal</span>
                        <span class="clabel">Calories</span>
                    </div>
                    <div class="nuritionInfo">
                        <span class="nlabel">200 g</span>
                        <span class="clabel">Carbo</span>
                    </div>
                    <div class="nuritionInfo">
                        <span class="nlabel">50 g</span>
                        <span class="clabel">Protein</span>
                    </div>
                    <div class="nuritionInfo">
                        <span class="nlabel">18 g</span>
                        <span class="clabel">Fats</span>
                    </div>
                </div>
            </div>
        </div>

        <!-- INGREDIENTS -->
        <div class="assessment">
            <h4 class="recipeTitle">Ingredients</h4>
            <div class="recipegrid" style="width:100px;">
                <span class="split" >
                    125 
                    50 
                    200 ml
                    ½
                    ½
                    1 
                    1½ 
               "-34.9290,138.6010".split(',');
                </span>
                <span class="split">
                    gpenne (whole wheat)
                    gricotta cheese
                    whole peeled tomatoes (canned)
                    eggplant
                    onion
                    clovesgarlic
                    sprigsthyme
                     salt
                    pepper
                    olive oil for frying
                    basil to garnish
                </span>
            </div>
        </div>

        <!-- HOW TO  -->
        <div class="assessment">
            <h4 class="recipeTitle">How-To</h4>
        </div>

    </ion-content>
</ion-view>