<ion-view title=""  hide-nav-bar="false">
    <ion-content padding="false" class="has-header">
        <div>

            <img ng-src="img/recipe/Asian-spiced chicken and rice noodle salad.jpeg" class="cardimage" style="height:500px;">
            <div class="fav" style="border:1px solid red; margin-top:-15%; ">
                <icon class="{{item.favIcon}} ricon ion-ios-heart" ng-click="toggleFav(item)"   style="margin-top:-80%; text-align: left;padding-left:3%; z-index:2; color:white"></icon> 
            </div>
            <h2  class="recipeName" style="text-align: center;color:white;">Asian-spiced chicken and rice noodle salad    </h2>

            <!-- LIKES AND SHARE BUTTON-->
            <!--


<span class="rdNo" >{{recipeDetailsArray.likes}}</span>
</div>
</h2>
-->



            <!-- CIRCLE LABEL-->

            <div class="infobar" style="margin-top:20%;">
                <div style="padding-bottom: 2%;">
                    <div class="recipelabelCircle">
                        <div class="circleinfo">
                            <span class="innercircle" >Easy</span>
                        </div>
                        <span  class="clabel"> Difficulty</span></div>

                    <div class="recipelabelCircle">
                        <div class="circleinfo">
                            <span class="innercircle">15 mins</span>
                        </div>
                        <span  class="clabel">  Duration</span></div>

                    <div class="recipelabelCircle">
                        <div class="circleinfo">
                            <span class="innercircle">1</span>
                        </div>
                        <span class="clabel"> Serving</span></div>
                </div>
            </div>
            <br/>

            <!-- HOW TO  -->
            <div class="assessment" style="margin-top:10%:">
                <h4 class="recipeTitle"  style="margin-top:10%:">How-To</h4>
                <div class="assessment" style="text-align: justify; vertical-align: middle; max-width:100%; padding:6%;" >
                    <video controls="controls" class="cardimage slidepage videoPlayer" preload="metadata" webkit-playsinline="webkit-playsinline">
                        <source src="video/Asian-Spiced Chicken and Glass Noodle Salad.mp4" type="video/mp4"  />
                        <br/>
                    </video>
                </div>
            </div>

            <!-- NURITION -->
            <div class="infobar" style="">
                <h4 class="recipeTitle">Nurition Per Serving  </h4>
                <div class="nuritionBar">

                    <div class="nuritionInfo" style="border:none;">
                        <span class="nlabel">13 kcal</span>
                        <span class="clabel">Calories</span>
                    </div>

                    <div class="nuritionInfo">
                        <span class="nlabel">14 g</span>
                        <span class="clabel">Carbo</span>
                    </div>

                    <div class="nuritionInfo">
                        <span class="nlabel">14 g</span>
                        <span class="clabel">Protein</span>
                    </div>

                    <div class="nuritionInfo">
                        <span class="nlabel">14 g</span>
                        <span class="clabel">Fats</span>
                    </div>
                </div>
            </div>

            <!-- INGREDIENTS -->
            <div class="assessment"  style=" float:inherit;;">
                <h4 class="recipeTitle">Ingredients</h4>
                <div class="recipegrid" style="text-align: justify; vertical-align: middle; max-width:100%;" >
                 <span class="nlabel" style="text-align: left; color:dimgray">   "ingredient" : "1 chicken breasts;;150 grice noodles;;75 gcashews;;½bell pepper (red);;75 gpapaya;;100 gsugar snap peas;;¼cucumber;;1½green onions;;½red onion;;10 gcilantro;;100 mlchili sauce;;50 mlsoy sauce;;sesame oil for frying;;salt;;pepper",
                     </span>
                </div>
            </div>


        </div>
    </ion-content>
</ion-view>