<ion-view title="All Recipe" id="page10">
  <ion-content padding="true" class="has-header">
<!--        <h3 class="homelabel">All Recipe</h3>-->
       <div class="assessment" ng-repeat="item in recipeArray" >
                        <div class="outercard" style="margin-left:2%; height:300px;">
                            <div class="card"  style="float:left;">
                                <img class="cardimage" src="{{item.image}}"  ui-sref="tabsController.recipeDetails({id:item.id})" />
                                <div class="fav" >
                                    <icon class="{{item.favIcon}} heart" ng-click="toggleFav(item)"></icon>
                                    <p class="no" >{{item.likes}}</p>
                                </div>
                            </div>
                            <div class="cardtitle">
                                <i>{{item.name}}</i>
                            </div>
                        </div>
                    </div>
</ion-content>
</ion-view>