<ion-view id="page1">
  <ion-tabs class="tabs-light tabs-icon-top" id="tabsController-tabs1">

    <ion-tab title="Recipe" icon="ion-ios-book-outline" href="#/page1/recipes" id="tabsController-tab2">
      <ion-nav-view name="tab2"></ion-nav-view>
    </ion-tab>
          <ion-tab title="Search" icon="ion-ios-search" href="#/page1/search" id="tabsController-tab1">
      <ion-nav-view name="tab1"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Cart" icon="ion-ios-cart-outline" href="#/page1/shoppingcart" id="tabsController-tab4">
      <ion-nav-view name="tab4"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Profile" icon="ion-ios-person-outline" href="#/page1/profile" id="tabsController-tab3">
      <ion-nav-view name="tab3"></ion-nav-view>
    </ion-tab>
  </ion-tabs>
</ion-view>