<ion-view title="UpdateProfile">
  <ion-content padding="true" class="has-header">
      <form id="applyLeave-form1" class="list">
          <label class="item item-input">
              <span class="input-label">Receipe Name</span>
              <input type="text" placeholder="" ng-model="recipe.name">
          </label>
          <label class="item item-input" >
              <span class="input-label">Receipe Img</span>
              <input type="text" placeholder="" ng-model="recipe.image">
          </label>
          <label class="item item-input" >
              <span class="input-label">Portion</span>
              <input type="text" placeholder="" ng-model="recipe.portion">
          </label>
            <label class="item item-input">
              <span class="input-label">Difficulty</span>
              <input type="text" placeholder="" ng-model="recipe.difficulty">
          </label>
            <label class="item item-input" >
              <span class="input-label">Type</span>
              <input type="text" placeholder="" ng-model="recipe.type">
          </label>
          <label class="item item-input" id="applyLeave-input2">
              <span class="input-label">Date of creation</span>
              <input type="date" placeholder="" ng-model="recipe.date">
          </label>

          <a class="button button-positive button-block" ng-click="add()">add</a>
      </form>
  </ion-content>
</ion-view>
